body{
    background-color: rgb(232, 236, 240) !important;
}
.left-nav a{
    text-decoration: none;
    color: black;
    font-size: 26px;
    cursor: pointer;
}
.left-nav a:hover{
    color:slateblue;
    border-bottom: 2px solid slateblue;
}
#categoriesContainer span:hover{
    color:slateblue;
    /* border-bottom: 2px solid slateblue; */
}
@media only screen and (max-width: 778px) {
    .container-fluid{
        display: inline;
    }
    .left-nav{
        margin-top: 10px;
    }
    .img-con{
        display:none;
    }
    .sort-nav{
        display: none;
    }
}

